body {
  margin: 0;
}
.container-flex {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: baseline;
}
.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  align-items: stretch;
}
.container > div {
  width: 100px;
  background-color: red;
  margin: 10px;
}
