body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    display: flex;
    justify-content: flex-start;
    
    height: 100vh;
    width: 100vw;
}
body > div {
    width: 100px;
    height: 100px;
    background-color: #ff000066;
    border: red 1px solid;
}
div:nth-child(2) {
    align-self: center;
    height: inherit;
}